.contact-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .contact-section-home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/src/assets/contactBack.png'), linear-gradient(to bottom, #002e4d, #004080);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-section-home::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;

    z-index: 1;
  }
  
  .contact-form {
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 3em;
    max-width: 600px;
    margin: 2em auto;
    z-index: 2;
  }
  
  .input,
  textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #004080;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .input:focus,
  textarea:focus {
    border-color: #f414006e;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.5);
  }
  
  .btn-submit {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #004080;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
  }
  
  .btn-submit:hover {
    background-color: #ff6f61;
    transform: translateY(-3px);
  }
  
  .contactContent {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .contact-section-home {
      background-attachment: scroll; /* Fixed backgrounds can cause issues on mobile */
    }
  
    .contact-form {
      padding: 2rem;
      margin: 2em 1em;
    }
  
    .btn-submit {
      font-size: 16px;
    }
  
    .contactContent {
      font-size: 1rem;
    }
    .contact-container{
        position: relative;
        width: 95%;
        max-width: 900px;
        margin: 0 auto;
        padding: 0rem;
    }
  }