.about-container {
    position: relative;
    min-height: 100vh;
    text-align: center;
    z-index: 21;
}

.about-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/aboutback.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}

.overlay {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
}


/* .about{
    height: 61rem;
} */
.aboutContent {
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    padding: 6em;
    position: relative;
    text-align: right;
    vertical-align: middle;
    z-index: 1;
    color: white;
    margin: 23rem; 
}