.about-body {
  height: fit-content;
}

.about-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  text-align: center;
  z-index: 21;
}

.skill-container{
  height:fit-content ;
  background-color: aliceblue;
  width: auto;
  border-radius: 3rem;
  margin: 4rem;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
}

.skill-pic {
  padding: 30px;
  width: 150px;
  border-radius: 3rem;
  margin: 35px;
  transition: transform 0.5s ease-in-out; 
}

.skill-pic:hover {
  transform: scale(1.6);
  cursor: pointer; 
}

.about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/aboutback.png');
  background-position: center center;
  background-size: cover;
  opacity: 1;
  z-index: -1; 
}

.aboutContent {
  display: inline-block;
  width: 90%; 
  padding: 3em;
  position: relative;
  text-align: center;
  margin: 10px auto; 
  border-radius: 15px;
  color: white;
  background-color: black;
  height: fit-content;
  margin-left: 5rem;
  margin-top: 15rem;
}


@media screen and (max-width: 1200px) {
  .aboutContent,
  .aboutContent2 {
      width: 80%;
      margin: 3rem;
      margin-top: 20rem;
      
  }
}

@media screen and (max-width: 992px) {
  .aboutContent,
  .aboutContent2 {
      width: 70%;
      margin: 3rem
  }
}

@media screen and (max-width: 768px) {
  .aboutContent,
  .aboutContent2 {
    width: auto;
    margin: 2rem;
    padding: 20px;
    display: inline-block;
    height: fit-content;
    position: relative;
   padding-top: 7rem;
   
  }
  

  .about-container::before{

    background-image: url('/src/assets/aboutback.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  
}

@media screen and (max-width: 576px) {
  .aboutContent,
  .aboutContent2 {
      width: 90%; 
      margin-top: 8rem; 
  }
} 
