.weather-div {
  background-color: rgba(11, 11, 11, 0.5);
  border-radius: 45px;
  padding: 20px;
  position: relative;
  width: 185px;
  right: 90rem;
  left: 20px;
  bottom: 259px;
}

.weather-div > * {
  margin-bottom: -15px; 
  padding: 20px;
}

.weather-div > *:not(:last-child) {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.weather-container h1,
.weather-container h3,
.weather-container p {
  font-size: 1.75em;
  font-family: "Cormorant", serif;
}

.weather-container h3 {
  font-size: 1.75em;
}
