.weather-div {
  background-color: rgba(0, 0, 0, 0.64);
  box-shadow: 0 0.45em 0.5em 0 rgb(0, 0, 0);
  border-radius: 45px;
  padding: 20px;
  position: relative;
  width: 185px;
  left: 6rem;
  bottom: 25px;
}

.weather-div>* {
  margin-bottom: -15px;
  padding: 20px;
}

.weather-div>*:not(:last-child) {
  border-bottom: 1px solid rgb(252, 249, 249);
 
}

.weather-container h1,
.weather-container h3,
.weather-container p {
  font-size: 1.75em;
  font-family: "Cormorant", serif;
}

.weather-container h3 {
  font-size: 1.75em;
}