.project-container {
    position: relative;
     height: 110vh;
    text-align: center;
 
}

.project-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    background-image: url('/src/assets/projectBack.png');
    background-attachment: fixed;
    background-position: center right; 
    background-size: cover;
}

.title{
    font-size: 2.75rem;
    color: rgb(6, 6, 6);
}
.link {
    text-decoration: none;
    color: rgb(12, 11, 11);
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

.link:hover {
  color: rgb(40, 158, 242);
}

.projects-card {
    width:20rem;
    height: fit-content;
    margin: 3rem;
    background-color: rgb(235, 238, 238);  
    box-shadow: 0 0.25em 0.5em 0 rgba(20, 20, 20, 0.913);
   font-size: 1.75rem;
   padding: 3rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projectContent {
    width: 90%;
    padding: 2rem;
    position: relative;
    text-align: center;
    margin: 20px;
    border-radius: 3rem;
    color: rgb(8, 7, 7);
    background-color: rgba(235, 238, 238, 0.487);
    height: fit-content;
     top: 10rem;   
     align-items: center; 
     left: 3rem;
    display: flex;
  
}

@media screen and (max-width: 1200px) {
    .projectContent {
        padding: 4em;
    }
}

@media screen and (max-width: 992px) {
    .projectContent {
        padding: 3em;
    }
}

@media screen and (max-width: 768px) {
    .projectContent {
        padding: 2em;
        margin: 5rem auto;
    }
}

@media screen and (max-width: 576px) {
    .projectContent {
        padding: 1em;
        margin: 3rem auto; 
    }
}
