
.home-container {
    position: relative;
    min-height: 100vh;
    text-align: center;
    z-index: 21;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/back1.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}

.overlay {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
}
.infoMeName{
   margin: 5px;
   
}
.homeContent {
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    padding: 6em;
    position: relative;
    text-align: right;
    vertical-align: middle;
    z-index: 1;
    color: white;
    margin: 23rem;
}

.profilePic {
    width: 250px;
    border-radius: 415px;
    margin-right: 25rem;
  
}

/* .infoMeTitle {
   
} */

.infoMe {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 95rem;
    background-color: rgba(0, 0, 0, 0.325);
    border: none;
    border-radius: 45px;
    padding: 15px;
    
}

.p-description {
    font-size: 30px;
    color: white;
    padding: 5px;
    margin: 5px;
   
}

@media screen and (max-width: 1600px) {
    .content {
        padding: 6em;
        margin: 20rem;
    }

    .profilePic {
        width: 200px;
        margin-right: 20rem;
    }

    .infoMe {
        margin-left: 20rem;
    }

    .p-description {
        font-size: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        padding: 4em;
        margin: 15rem;
    }

    .profilePic {
        width: 150px;
        margin-right: 15rem;
    }

    .infoMe {
        margin-left: 15rem;
    }

    .p-description {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .content {
        padding: 3em;
        margin: 10rem;
    }

    .profilePic {
        width: 100px;
        margin-right: 10rem;
    }

    .infoMe {
        margin-left: 10rem;
    }

    .p-description {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        padding: 2em;
        margin: 5rem;
    }

    .profilePic {
        width: 80px;
        margin-right: 5rem;
    }

    .infoMe {
        margin-left: 5rem;
    }

    .p-description {
        font-size: 16px;
    }
}
