@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Sacramento&family=Tangerine:wght@400;700&display=swap');
.app_nav {
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 3.9;
}

.nav-logo {
    font-family: "Great Vibes", cursive;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.64);
    box-shadow: 0 0.45em 0.5em 0 rgb(0, 0, 0);
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: inherit;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links > * {
    margin-left: 1rem;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .app_nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.9);
        position: sticky;
    }

    .nav-container {
        width: 99%;
        justify-content: space-evenly;
    }

    .nav-link {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links > * {
        margin: 0.5rem 0;
    }
}
