@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Sacramento&family=Tangerine:wght@400;700&display=swap');

.app_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: rgb(0, 0, 0);
    background-color: rgb(203, 203, 191);
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.9;
}

.nav-logo {
    font-family: "Great Vibes", cursive;
    font-size: 1.8rem; 
    font-weight: 400;
    font-style: normal;
    margin: 0; 
}

.nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem; 
    padding: 0.5rem 1rem; 
    color: inherit;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links > * {
    margin-left: 1rem; 
}

@media screen and (max-width: 768px) {
  .app_nav{
    position: sticky;
  }
    .left-section,
    .right-section {
        display: none;
    }

    .nav-link {
        font-size: 1rem; 
        padding: 0.4rem 0.8rem; 
    }
}
