.app-main {
  background-image: url("../src/assets/ny.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

@media (max-width: 768px) {
  .app-main {
    background-size: auto; 
    background-attachment: scroll; 
  }
}


@media (max-width: 576px) {
  .app-main {
    background-size: auto;
    background-attachment: scroll; 
  }
}
